<?php /** @var Training\Blog\Block\Posts $block */ ?>
    <h1>Training Posts</h1>
<?php foreach($block->getPosts() as $post): ?>
    <?php /** @var Training\Blog\Model\Post */ ?>
    <h2><a href="<?php echo $block->getPostUrl($post);?>"><?php echo $post->getTitle(); ?></a></h2>
    <p><?php echo $post->getContent(); ?></p>
<?php endforeach; ?>